﻿* {
    border: 1px solid red;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html, body {
    border: 0 solid red;
    margin: 0;
}

.player-section {
    position: absolute;
    height: 7em;
    right: 0;
    left: 0;
    top: 0;
    min-width: 45em;
    z-index: 1;
    background-color: #FFFFFF;
}

.player-controls-container {
    position: relative;
    width: 15em;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    float: left;
}

.player-controls-wrapper {
    position: relative;
    height: 80%;
    width: 80%;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

    .player-controls-wrapper > * {
        display: inline-block;
        position: relative;
        vertical-align: top;
        height: 75%;
        width: 25%;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: #808080;
        cursor: pointer;
    }

.player-controls-pause {
    background: url("../images/pause.svg");
    background-size: 100% 100%;
}

.player-controls-play {
    background: url("../images/play-arrow.svg");
    background-size: 100% 100%;
}

.player-controls-next {
    background: url("../images/skip-next.svg");
    background-size: 100% 100%;
}

.player-controls-prev {
    background: url("../images/skip-previous.svg");
    background-size: 100% 100%;
}

.now-playing-container {
    position: relative;
    height: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.now-playing-title {
    position: relative;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2.5em;
}

.volume-container {
    position: relative;
    height: 100%;
    width: 15em;
    right: 0;
    top: 0;
    bottom: 0;
    float: right;
}

.volume-slider {
    display: inline-block;
    position: relative;
    width: 80%;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main {
    position: absolute;
    top: 7em;
    bottom: 4em;
    left: 0;
    right: 0;
    min-width: 45em;
    overflow-y: scroll;
}

.titles-section {
    position: relative;
    top: 0;
    left: 0;
}

.titles-list {
    list-style-type: none;
    padding-left: 0;
    padding-top: 0;
    margin: 0;
}

.title-row {
    display: inline-block;
    width: 100%;
    position: relative;
    left: 0;
    padding: 0.7em 1em;
    vertical-align: top;
}

.title-text {
    position: relative;
    font-size: 1.5em;
    font-weight: 700;
}

.title-url {
    float: left;
    overflow: hidden;
    font-size: 1em;
    font-weight: 400;
}

.bottom-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 4em;
    min-width: 45em;
    z-index: 1;
    background-color: #FFFFFF;
}

.bottom-toolbar-button {
    position: relative;
    float: left;
    left: 0.1em;
    margin-left: 0.35em;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 3.5em;
    height: 3.5em;
    background-color: #808080;
    cursor: pointer;
}

.add-titles-button {
    background: url("../images/circle_add_plus.svg");
    background-size: 100% 100%;
}

.view-clients-button {
    background: url("../images/clients.svg");
    background-size: 100% 100%;
}

.clients-container {
    position: relative;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50em;
    height: 85%;
    background-color: #FFFFFF;
    border-radius: 0.5em;
}

.clients-list {
    padding: 0;
}

.client-row {
    display: block;
    position: relative;
    height: 4em;
    padding: 0.5em;
}

.client-row-upper {
    display: inline-block;
    position: relative;
    width: 100%;
}

.client-row-lower {
    display: inline-block;
    position: relative;
    width: 100%;
}

.client-name {
    display: inline;
    position: relative;
}

.client-now-playing {
    position: relative;
    float: right;
}

.add-titles-container {
    position: relative;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50em;
    height: 85%;
    background-color: #FFFFFF;
    border-radius: 0.5em;
}

.title-results-list {
    padding: 0;
}

.title-results-row {
    display: inline-block;
    width: 100%;
    position: relative;
    left: 0;
    height: 5em;
    vertical-align: top;
    padding-top: 0.25em;
}

.title-results-img {
    float: left;
    width: 8em;
    height: 4.5em;
}

.title-results-text {
    float: left;
    padding-left: 0.5em;
}
